<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/oliden food logo.png" alt="">
  </div>
  <div class="headings">
    <h2>The Hangout Joint</h2>
    <h3>Where you find your Heart's content</h3>
    <a href="/smoothies" class="btn">View Drinks</a>
  </div>
</header>


<%- include('partials/footer'); -%>